.category-container{
  display: flex;
  justify-content: space-around;
  button{
    position: relative;
    top: -5px;
  }
}

.form-field{
  width: 70%;
}

.list-item-wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;




  div{
    line-height: 20px;
  }

  p{
    margin-top: 10px;
  }
}


